# Node.js
node_modules/
.env
dist/
coverage/
package-lock.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operacional
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Testes/Jest
jest.config.js
coverage/

# Arquivos temporários
*.tmp
*.temp

# Deploy
build/
